// ====== Media Queries for a Responsive Design. ============================
//   By default we suggest 4 levels of layout :
//   1. Larger viewport - fixed, pixel based layout, two sidebars floating.
//   2. Large viewport - fluid, precentage based layout, two sidebars floating.
//   3. Medium viewport - fluid, precentage based layout, only first one floating.
//   4. Small viewport - simple, content first, no sidebars layout.
// ==========================================================================

@import "susy";
@import "layout/settings";
@import "partials/colors";
@import "partials/mixins";

// Fixed width page.
#page,
#navigation,
#topmenu,
#secondary-menu,
#featured,
#content_wrapped,
#main,
#zoom,
#content_bottom,
#footer,
#footer-full,
#footer-links {
  @include full;
}

#responsive-marker:before {
  content:"base|";
}

.menu-toggle {
  display: none;
}

.wrapper {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding: 0 1em;
  position: relative;
}

//fluid columns
.col {
  @include span(12);
  @include bottom-margin;
  float: from(susy-get(flow));
}

li.col {
  list-style-type: none;
}

ul.row {
  margin: 0;
  padding: 0;
}

.row {
  @include clearfix;

  .full {
    clear: both;
    float: none;
    width: 100%;
  }

  .half {
    @include gallery(6);

    &.centered {
      @include pre(3);
    }
  }

  .third {
    @include gallery(4);
  }

  .quarter {
    @include gallery(3);
  }

  .span1 {
    @include gallery(1);
  }

  //footer {
  .span2 {
    @include span(2);
  }

  .span3 {
    @include span(3);
  }

  .span4 {
    @include span(4);
  }

  .span5 {
    @include span(5);
  }

  .span6 {
    @include span(6);
  }

  .span7 {
    @include span(7);
  }

  .span8 {
    @include span(8);
  }

  .span9 {
    @include span(9);
  }

  .span10 {
    @include span(10);
  }

  .last {
    margin-right: 0;
  }
}

