
// ====== Media Queries for a Responsive Design. ============================
//   By default we suggest 4 levels of layout :
//   1. Larger viewport - fixed, pixel based layout, two sidebars floating.
//   2. Large viewport - fluid, precentage based layout, two sidebars floating.
//   3. Medium viewport - fluid, precentage based layout, only first one floating.
//   4. Small viewport - simple, content first, no sidebars layout.
// ==========================================================================

// Layout for large viewports.

@import "susy";
@import "layout/settings";
@import "partials/colors";
@import "partials/mixins";

@media (min-width: susy-get(breakpoint-large)) {
    #responsive-marker:before {content:"large|"}
    .menu-toggle {
      display: none !important;
    }
}
