
// ====== Media Queries for a Responsive Design. ============================
//   By default we suggest 4 levels of layout :
//   1. Larger viewport - fixed, pixel based layout, two sidebars floating.
//   2. Large viewport - fluid, precentage based layout, two sidebars floating.
//   3. Medium viewport - fluid, precentage based layout, only first one floating.
//   4. Small viewport - simple, content first, no sidebars layout.
// ==========================================================================

// Layout for smallest viewports.

@import 'susy';
@import 'layout/settings';
@import 'partials/colors';
@import 'partials/mixins';

@media (max-width: susy-get(breakpoint-small)) {

  html {
    font-size: 1em;
  }

  .menu-toggle {
    display: inline-block;
  }
  .logo-custom {
    padding: 1em;
    display: inline-block;
    text-align: center;
  }
  #islands__list { display:none; }

  .navigation {
    padding: 1em 0;
  }
  #navbarToggler.show {
    display:inline-block !important;
    position: absolute;
    top: 90px;
    z-index: 10;
    background: white;
    .menu {
      padding: 0;
      margin: 0;
      flex-direction: column;
    }
  }
  .main-menu {
    display: none;
    margin: 0 -1em;
    padding-top: .5em;
    width: calc(100% + 2em);

    >ul>li>a,
    >ul>li>a:visited {
      background: $yellow;
      color: $white;
      margin-bottom: 3px;

      &:hover {
        color: $darkblue;
      }
    }

    li {
      display: block;
      text-align: center;
    }

    a {
      display: block;
    }
  }

  .mobile-menu .main-menu {
    display: block;
  }



  .archipel {
    .wrapper {
      text-align: left;
    }
    .mobile-toggle {
      display: inline-block;
      font-size: 18px;
      padding-top:4px;
      border:none;
    }
    select {
      color: $white;
      float: right;
      text-transform: uppercase;
    }
    .social-links a {
      font-size: 18px;
      padding-top:4px;

    }


    .nice-select {
      background: $darkblue;
      color: $white;
      float: right;
      font-size: 1.2em;
      padding-right: 2em;
      text-transform: uppercase;
      height: auto;
      line-height: 1.5em;
      padding-left: 18px;
      padding-top: 4px;

      .option:hover,
      .option.focus,
      .option.selected.focus {
        background-color: $yellow;
        color: $white;
      }

      .option.selected {
        background-color: $yellow;
        color: $darkblue;
      }


      .list {
        background: $darkblue;
        left: auto;
        right: 0;
      }
      li {
        display: block;
      }
    }
  }

  .navigation .user-menu {
    float: none;
    width: 120px;
  }

  .mobile-toggle {
    border-right: 1px solid $white;
    display: inline-block;
    font-size: 2em;
    font-weight: 100;
    padding: .1em.5em .1em 0;
    &::before {
      content: '\f0c9';
      font-family: 'fontawesome';
    }
  }

  h1.page-name {
    width:100%;
  }

  .view-id-bloc_formation .view-header {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    font-size: .85em;
  }
  .view-id-bloc_formation .views-exposed-widget {
    width: 100%;

    #edit-field-thematiques-tid-wrapper label, label {
      text-align:left;
    }
  }


  #block-views-bloc-formation-bloc-formation,
  #block-views-bloc-formation-block-1 {
    .block-title {
      width:100%;
    }

    .view-id-bloc_formation .view-filters {
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
    }
  }

  .heading-home {
    .wrapper { display:block; }

    .hero, .about {
      width: 100%;
      margin:0;
    }
  }

  .group-one-third {
    position: relative;
    width: 100%;
    margin-right: 0;
    float: none;
  }

  .group-two-third {
    width: 100%;
    float: none;
  }

  #footer .wrapper .block {
    width: 50%;
    margin: 1em 0;
    display: block;
    float: left;
  }
  #footer .wrapper {
    background: url(../../images/logo-right.svg) no-repeat 180px 170px;
    background-size: 120px;
    min-height:320px;
  }
}
