
// ====== Media Queries for a Responsive Design. ============================
//   By default we suggest 4 levels of layout :
//   1. Larger viewport - fixed, pixel based layout, two sidebars floating.
//   2. Large viewport - fluid, precentage based layout, two sidebars floating.
//   3. Medium viewport - fluid, precentage based layout, only first one floating.
//   4. Small viewport - simple, content first, no sidebars layout.
// ==========================================================================

// Layout for smallest viewports.

@import "susy";
@import "layout/settings";
@import "partials/colors";
@import "partials/mixins";

@media (max-width: susy-get(breakpoint-x-small)) {
  #responsive-marker:before {content:"x-small|"}
  #islands__list { display:none; }

  .menu-toggle {
    display: inline-block;
  }
	body {font-size: 1em}
	.wrapper {padding: 0 .5em}

	#header .block-social-links {
		display: none;
	}

	blockquote {
		font-size: 1em;
		margin: 0 .5em;
	}

	.row {
		.footer-left {
			@include span(24);
			float: none;
		}
		.footer-right {
			@include span(24);
			float: none;
		}
		.half,.third,.quarter {
			@include gallery(24);
			float: none;
		}
  }
}
