/*
 * #############################################
 * ##### Sasson - Advanced Drupal Theming. #####
 * #############################################
 *
 *          econocom main stylesheet.
 */
// ---- Imports and Definitions. ------------------
//   Call external libraries and partials.
// ------------------------------------------------
// Compass (http://compass-style.org).
@import 'compass'; // Susy (Sasson's layout system).
@import 'susy'; // Theme variables (_settings.scss).
@import 'layout/settings'; // Internal mixins partial (under /partials).
@import 'partials/colors';
@import 'partials/fontawesome';
@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/nice-select-prefixed';

* {
  box-sizing: border-box;
}

body {
  background-color: $bodybg;
  color: $textcolor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'ubunturegular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.44;
  overflow-x: hidden;
}

b,
strong {
  font-weight: 700;
}

p {
  margin: 0 0 0.6em;
}

a {
  color: $yellow;
  text-decoration: none;
  transition: background, color $rollover-time, $rollover-time;

  &:visited,
  &:active,
  &:focus {
    color: $green;
    text-decoration: underline;
    outline: 0;
  }

  &:hover {
    color: $yellow;
    text-decoration: underline;
  }
}

.clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

img {
  height: auto !important;
  max-width: 100%;
}

input:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'geomanistmedium';
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  color: $darkblue;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0.5em 0 0.1em;

  &.page-name {
    text-transform: none;
    width: 32%;
    display: inline-block;
    text-align: right;
    margin-right: 4em;
    margin-bottom: 1em;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 42px;
      height: 2px;
      display: block;
      bottom: -8px;
      right: 1px;
      border-bottom: 4px solid #fbcd14;
    }
  }
}

.section-actualits h1.page-name {
  width: auto;
  display: inline-block;
  text-align: left;
}

h2 {
  font-size: 1.6em;
  color: $yellow;
}

h3 {
  color: $darkblue;
  font-size: 1.3em;
}

blockquote {
  color: $darkblue;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  margin: 0 auto;
  max-width: 80%;
}

small {
  font-size: 0.75em;
}

.navigation {
  background: $white;
  padding: 2em 0;
  font-size: 14px;
  font-family: 'geomanistmedium', sans-serif;

  .menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .menu-toggle {
    color: $darkblue;
    font-size: 1.4em;
    font-weight: 100;
    padding: 0;
    background: transparent;
    width: 100px;

    &:hover {
      text-decoration: none;
      color: $yellow;
    }
  }
  .user-menu {
    width:130px;
    text-align: right;

    a {
      color: $darkblue;

      &.button {
        display: block;
        text-align:center;
        margin:0 0 .5em 0;
        padding: .4em .15em;
      }

      &:hover {
        color: $yellow;
      }
    }
  }
}

#archipel-colibris {
  height: 40px;
  background: $darkblue;

  .archipel {
    background: $darkblue;
    color: $white;
    font-family: "geomanistlight", sans-serif;

    .social-links {
      margin: 0;
      li {
        margin: 0 0 0 1.5em;
      }
    }

    .islands__list {
      background: $darkblue;
    }

    a.current,
    a:hover {
      color: $yellow;
      text-decoration: none;
    }
  }
}

@media (max-width:990px) {
  #archipel-colibris {
    height: 32px;
  }
}

//main menu
.main-menu {
  display: block;
  font-family: 'geomanistmedium';
  font-size: 14px;
  margin: 0.5em 0 0 0;
  flex: 1;

  ul {
    padding: 0;
    margin: 0 3em;
    display: flex;
    justify-content: space-around;
  }

  li {
    display: inline-block;
    list-style-type: none;
  }

  a,
  a:visited {
    color: $darkblue;
    display: inline-block;
    padding: 0.55em 0.7em;
    text-transform: uppercase;
    position: relative;

    &:hover {
      color: $yellow;
      text-decoration: none;
    }

    &.active::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      display: block;
      bottom: 4px;
      right: 10px;
      border-bottom: 4px solid #fbcd14;
    }
  }
}

//headings
.heading {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;

  .name {
    background: transparentize($yellow, .2);
    color: $darkblue;
    display: inline-block;
    font-family: 'geomanistmedium';
    font-size: 2em;
    padding: 0.87em;
  }
}

//homepage
.heading-home {
  .wrapper {
    @include clearfix;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 20em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about {
    width: 33%;
    margin-right: 4em;
    min-height: 20em;
    color: $darkblue;
    font-size: 16px;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    p {
      text-align: right;
    }
  }

  .hero {
    width: 63%;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;

    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 6px;
    }
  }

  h1 {
    font-size: 36px;
    font-family: 'geomanistlight';
    text-align: right;
    text-transform: none;
    color: $darkblue;
    margin-bottom: 18px;

    strong {
      font-family: 'geomanistmedium';
      font-weight: normal;
    }
  }

  h2 {
    font-size: 20px;
    font-family: 'geomanistmedium';
    font-weight: normal;

    color: $darkblue;
  }

  h3 {
    font-size: 18px;
    font-family: 'geomanistmedium';
    font-weight: normal;

    color: $darkblue;
  }

  .button {
    font-size: 14px;
  }

}

.responsive-iframe {
  padding: 0;
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  height: 0;
  width: 100%;
  overflow: hidden;
}

.img-rounded {
  border-radius: 6px;
}

pull-left {
  float: left;
}

pull-right {
  float: right;
}

#tab-links {
  clear: both;

  ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 0 1em 0;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      a {
        color: $darkblue;
        border-radius: .2rem;
        display: block;
        padding: .2rem .5rem;
        margin-right: .5rem;

        &.active,
        &:hover {
          color: $white;
          background-color: $yellow;
          text-decoration: none;
        }
      }
    }
  }
}

.button,
.form-submit {
  @include rounded;
  background: $darkblue;
  color: $white;
  display: inline-block;
  font-family: 'geomanistmedium';
  margin: 1em 0;
  padding: 0.4em 0.8em;
  text-decoration: none !important;
  text-shadow: none;
  border: none;

  &:hover,
  &:active,
  &:focus {
    background: $yellow;
    color: $white;
  }

  &.dl {
    &::after {
      content: '\f019';
      font-family: 'fontawesome';
      font-size: 1.667em;
      line-height: 0;
      margin-left: 0.5em;
      vertical-align: middle;
    }
  }

  &.yellow {
    background: $yellow;
    color: $white;
  }

  &:hover,
  &:active,
  &:focus {
    background: $yellow;
    color: $darkblue;
  }

}

.logout {
  font-size: 13px;
}

.button.red {
  background: red;
  color: $white;
  &:hover {
    color: $darkblue;
  }
}

.button.green,
.navigation .user-menu .button.green {
  background: $green;
  color: $white;
}

.button.green:hover,
.navigation .user-menu .button.green:hover {
  color: $darkblue;
  text-decoration: none;

}

.button.yellow,
.navigation .user-menu .button.yellow {
  background: $yellow;
  color: $white;
}

.button.yellow:hover,
.navigation .user-menu .button.yellow:hover {
  color: $darkblue;
  text-decoration: none;
}

.margin-right {
  margin-right: 5px;
}

#footer {
  background: $footerbg;
  color: $white;
  padding: 2em 0;
  font-family: 'geomanistbook';

  .wrapper {
    background: url(../images/logo-colibris-faire-sa-part-ensemble-blanc-min.svg) no-repeat right center;
    background-size: 190px;
    min-height: 200px;

    .block {
      width: 25%;
      margin: 3em 2%;
      display: block;
      float: left;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 0;
        }
      }
    }

    a {
      color: $white;

      &:hover {
        color: $yellow;
        text-decoration: none;

      }
    }

    .menu-944 a,
    .menu-670 a {
      display: block;
      background: url(../images/cc.png) no-repeat top left;
      font-size: 0;
      height: 30px;
      width: 89px;
    }
  }
}

.block-title {
  color: $white;
  font-size: 1.1em;
  margin: 0;
  text-transform: none;

}

#sendinblue-newsletter-4-mergefields {
  width: 220px;
  float: left;

  #edit-fields-email {
    border: 1px solid $white;
    border-radius: 4px 0 0 4px;
  }
}

#edit-submit {
  float: left;
  margin: 18px 0 0 0;
  background: $yellow;
  border-radius: 0 4px 4px 0;
  color: $darkblue;
  padding: 1px 8px;
  font-size: 14px;
}

.newsletter {
  h2 {
    color: $white;
    font-size: 0.889em;
    margin: 0;
    text-transform: none;
  }


  label {
    display: none;
  }

  form>div {
    position: relative;

    .about & {
      width: 50%;
    }
  }

  .form-required {
    display: none;
  }

  .form-item {
    margin: 0.5em 0;

    .error {
      border: 1px solid $error;
    }
  }

  .form-submit {
    bottom: 0.1rem;
    opacity: 0;
    position: absolute;
    right: 30%;
  }

  .about & {
    .form-submit {
      bottom: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      margin: 0;
      padding: 0.15em 0.2em;
    }
  }

  .form-text {
    border-radius: 4px;
    border: 0;
    font-family: 'geomanist';
    font-size: 0.889em;
    padding: 0.3em 0.6em;
    position: relative;
  }

  .form-type-textfield {
    position: relative;
    width: 70%;

    .about & {
      width: 100%;
    }

    &::after {
      color: $black;
      content: $icon-envelope-o;
      font-family: 'fontawesome';
      font-size: 1.1em;
      position: absolute;
      right: 0.4em;
      top: 0;
    }
  }
}

.footer-menu {
  @include span(8);
  margin-right: 0;

  .content {
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      font-size: 0.889em;
      list-style-type: none;
      margin: 0;
      padding: 0;

      &::before {
        color: $green;
        content: 'B';
        font-family: 'colibris';
        font-size: 1.5em;
        margin-right: 0.5em;
        vertical-align: middle;
      }
    }

    .sub-list {
      float: left;
      width: 40%;
    }
  }
}

.ajax-progress {
  display: none;
}

.debug {
  background: $debug;
}

#responsive-marker {
  display: none;
}

.admin #responsive-marker {
  background: $debug;
  bottom: 0;
  display: block;
  font-size: 0.7em;
  padding: 1px 2px 0;
  position: fixed;
  right: 0;
  z-index: 9999;
}

.webform-client-form {
  font-family: 'geomanist';

  label {
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 0.5em;
  }

  .nice-select {
    float: none;
    background: $white;
    border-right: 0;
    border-radius: 4px;
  }

  .form-text,
  .form-textarea {
    border-radius: 4px;
    border: 1px solid $lightgrey;
    color: $darkblue;
    font-family: 'geomanist';
    outline: none;
    padding: 0.5em 0.8em;
    width: 100%;
  }

  .form-actions {
    text-align: center;
  }
}

#block-views-related-block {
  margin-top: 3em;

  &::before {
    background: $darkblue;
    content: '';
    display: block;
    height: 10em;
    left: 50%;
    position: absolute;
    top: -1em;
    transform: translateX(-50%);
    width: 100vw;
    z-index: 0;
  }

  .block-title {
    color: $white;
    font-size: 1.994em;
    margin: 0.5em 0;
    position: relative;
    z-index: 1;
  }
}

.node-webform {
  .field-body {
    background: $white;
    padding: 1em;
  }

  h2 {
    color: $darkblue;
    font-size: 1.8em;
    margin: 0 0 0.5em;
    text-transform: uppercase;
  }
}

.webform-component--email,
.webform-component--nom,
.webform-component--objet {
  @include span(4);
}

.webform-component--email {
  margin-right: 0;
}

.webform-component-textarea {
  .grippie {
    display: none;
  }
}

.webform-component--message {
  @include clearfix();
}

/////////////////////////////////////////////////////////////////////////////
// universite additions
///////////////////////////////////////////////////////////////////////////
// flex 2 columns
.flex-2cols,
.flex-2cols #block-system-main {
  &>.region {
    width: 100%;
  }

  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  &>.content {
    padding: 0;
  }
}

.sidebar {
  margin-right: 4em;
  width: 33%;
  padding: 0;

  ul {
    padding-left: 15px;
  }

  .block {
    margin: 2.7em 0;
  }

  label {
    color: $darkblue;
    font-family: 'geomanist';
    font-size: 0.889em;
    font-weight: normal;
    padding: 0.95em 0.35em;
  }

  input[type=password],
  input[type=text],
  select {
    @include rounded;
    border: 1px solid $lightgrey;
    color: $darkblue;
    font-family: 'geomanist';
    font-size: 0.889em;
    padding: 0.5em 0.6em;
    width: 100%;
  }
}

#main {
  margin-bottom: 3em;
}
.page-formations-citoyens #main,
.page-formations-professionnels #main,
.page-node.section-formations #main {
  margin-bottom: 0em;
}

// FAQ
#block-faq-faq-categories {
  .block-title {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding-left: 0;
      margin-bottom: 1em;
      font-family: 'geomanistmedium';
      line-height: 1.3em;

      &::before {
        content: "\f178";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
        text-rendering: auto;
        -moz-osx-font-smoothing: grayscale;
        color: $yellow;
        margin-right: 5px;
      }
    }
  }

}

.faq-qa-header {
  margin-top: 2.5em;
}

.faq-qa {
  border-top: dotted $greytitle 2px;
}

.faq-question-answer {
  border-bottom: dotted $greytitle 2px;
}

.faq-header {
  color: $greytitle;
  text-transform: uppercase;
  font-family: 'geomanistmedium';
  font-size: 1.3em;
  line-height: 1em;
  margin-bottom: 1.5em;
}

.faq-question {
  padding: .5em 0;
  color: $darkblue;
  font-weight: bold;
}

.faq-answer {
  padding: .0 0 .5em 0;

}

.field-name-field-categorie {
  color: $darkblue;
}

.links.inline {
  padding: 0;
  list-style: none;

  a {
    color: $darkblue;
    font-size: 0.8em;
  }
}

.logo-custom {
  margin-right: 1em;
  width: 200px;
  display: block;

  img {
    width: 200px;
  }
}

.apprenant {
  .group-one-third {
    text-align: right;
  }

  .field {
    margin-bottom: 1em;
  }

  .field-name-field-first-name {
    margin-bottom: 0;
    clear: both;
    padding-top: 1em;
  }

  .user-picture {
    margin: 0;
  }

  #user-trainings-list-tabs {
    border: 0;
    padding: 0;
    .ui-tabs-nav {
      padding: 0;
      .ui-state-default {
        //.ui-state-default,
        //.ui-widget-content .ui-state-default,
        //.ui-widget-header .ui-state-default
        background-color: transparent;
        background-image: none;
        border: none;
        a:hover {
          color: $yellow;
        }
      }
      .ui-state-active {
        //background-color: transparent;
        //background-image: none;
        a {
          //color: white;
          &:hover {
            cursor: pointer;
          }
          &:after {
            content: '';
            position: absolute;
            left: calc(50% - 55px);
            width: 110px;
            height: 5px;
            display: block;
            bottom: 0;
            border-bottom: 5px solid #fbcd14;
          }
        }
      }
      li a {
        color: $darkblue;
        text-transform: uppercase;
        font-family: 'geomanistmedium', sans-serif;
      }
    }
    .ui-widget-header {
      border: none;
      background: none;
    }
    .ui-tabs-panel {
      padding: 0;
    }
    .ui-widget-content {
      font-size: 0.9em;
      font-family: 'ubunturegular', sans-serif;
    }
  }
  .node-formation {
    background: $lightgrey;

    .group-image {
      width: calc(50% - 1em);
      float: left;
      margin-right: 1em;
      position: relative;

      .date {
        position: absolute;
        text-align: right;
        width: 100%;
        padding: 1.5em 1em;
        background: rgba(0, 0, 0, .5);
        color: $white;
        text-transform: uppercase;
        font-family: 'geomanistbold';

        .fa {
          float: left;
          font-size: 1.4em;
          margin-left: 1em;
        }

        &.en_cours {
          color: $green;
        }

        &.termine {
          color: $white;
        }

        &.a_venir {
          color: $yellow;
        }
      }

      .field-name-field-image {
        margin-bottom: 0;
      }
    }

    h2.title {
      font-size: 1.1em;
      padding-top: .5em;
      margin-bottom: .3em;

      a {
        color: $darkblue;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .field-name-field-type-de-formation {
      font-size: .8em;
      margin-bottom: .3em;
      font-family: 'geomanistbold';
      color: $mooc;
      text-transform: uppercase;
    }

    .field-name-field-type-de-formation .moocs {
      color: $mooc;
    }

    .field-name-field-type-de-formation .parcours {
      color: $pink;
    }


    .field-name-body {
      color: $textcolor;
      font-size: .9em;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 4em;
      margin: 0 1em 0 0;
    }
    .training-links {
      margin-top: 0.8rem;
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      font-size: 1rem;
    }
    .reservation,
    .field-name-field-lien-vers-le-wiki {
      font-size: .75em;
      border-radius: .3em;
      background: $yellow;
      color: $white;
      font-family: 'geomanistmedium';
      margin: 0.5em .5em 0.5em 0;
      padding: .3em .5em;

      &:hover,
      a:hover {
        color: $darkblue;
        text-decoration: none;
      }

      a,
      a:focus,
      a:visited {
        color: $white;
      }
    }

    .field-name-field-lien-vers-la-participation .btn-don{
      font-size: .75em;
      border-radius: .3em;
      background: $pink;
      color: $white;
      font-family: 'geomanistmedium';
      margin: 1.5em .5em 1em 0;
      padding: .3em .5em;

      &:hover {
        color: $yellow;
        text-decoration: none;
      }
    }


    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }

  h3 {
    border: none;
    text-transform: uppercase;
  }
}

.my-courses {
  list-style: none;
  padding: 0;

  li {
    padding: 0;
    margin-bottom: 20px;
  }

  .date {
    font-size: 0.9em;
    font-style: italic;
    margin: 0;
  }

  .progress {
    font-size: 0.8em;
    color: #777;
    margin: 0;
  }
}

/*** view formations ***/
#block-views-bloc-formation-bloc-formation,
#block-views-bloc-formation-block-1,
.page-node.section-formations {
  position: relative;

  .block-title {
    font-family: 'geomanistmedium';
    text-transform: uppercase;
    font-size: 34px;
    color: $darkblue;
    width: 32%;
    display: inline-block;
    text-align: right;
    margin: 2em 4em 1em 0;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 42px;
      height: 2px;
      display: block;
      bottom: -8px;
      right: 1px;
      border-bottom: 4px solid #fbcd14;
    }
  }

  .view-id-bloc_formation {
    .view-filters {
      position: absolute;
      top: -70px;
      right: 0;
      width: 63%;
      font-family: 'geomanistmedium';
      font-size: 12px;
      text-transform: uppercase;
      margin: 0;

      #edit-field-thematiques-tid-wrapper {
        label {
          text-align: left;
          margin-bottom: 0;
        }

      }

      .views-exposed-widget {
        width: 100%;
      }

      .form-type-bef-link,
      .form-type-bef-checkbox {
        display: inline-block;

        input[type=checkbox] {
          display: none;
        }

        input:checked+label {
          background: $darkblue;
        }

        a,
        label {
          display: inline-block;
          color: $white;
          background: $taggrey;
          border-radius: 4px;
          padding: 2px 10px;
          margin: 2px;

          &:hover,
          &.active {
            background: $yellow !important;
            text-decoration: none;
          }
        }
      }
    }

    .view-content {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      background: $lightgrey;
      padding-bottom: 3em;
      margin-top: 1em;
      padding-top: 0;

      &::before {
        content: '';
        position: absolute;
        height: 6em;
        background: $white;
        width: 100%;
      }
    }
  }
  .more-link {
    clear: both;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: $lightgrey;
    //margin-right: -1rem;
    //margin-left: -1rem;
    padding-bottom: 3rem;

    a {
      @include read-more();
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.view-bloc-formation.view-display-id-page_1,
.view-bloc-formation.view-display-id-page_2 {
  position: relative;

  .view-filters {
    font-family: 'geomanistmedium';
    font-size: 12px;
    text-transform: uppercase;

    #edit-field-thematiques-tid-wrapper {
      > label {
        font-size: 1rem;
      }
      label {
        text-align: left;
        margin-bottom: 0;
      }

    }

    .views-exposed-widget {
      width: 100%;
    }

    .form-type-bef-link,
    .form-type-bef-checkbox {
      display: inline-block;

      input[type=checkbox] {
        display: none;
      }

      input:checked+label {
        background: $darkblue;
      }

      a,
      label {
        display: inline-block;
        color: $white;
        background: $taggrey;
        border-radius: 4px;
        padding: 2px 10px;
        margin: 2px;

        &:hover,
        &.active {
          background: $yellow !important;
          text-decoration: none;
        }
      }
    }
  }
  .view-empty {
    margin: 1rem auto 2rem;
  }
}

.form-item-field-thematiques-tid .nice-select {
  float: right;
  text-align: right;
}

.form-item-field-type-de-formation-tid .nice-select {
  border-left: 1px solid $darkblue;
  border-right: none;
}



.view-id-bloc_formation {
  .view-header {
    width: 63%;
    margin-left: 37.8%;
    margin-top: -100px;
    font-size: .85em;
  }

  .view-filters {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .views-exposed-widget {
    width: 33%;

    .form-type-select select {
      width: 100%;
    }

    label {
      font-weight: normal;
      font-family: 'geomanistbold';
      margin-bottom: 1em;
      text-transform: uppercase;
    }

  }

  #edit-field-thematiques-tid-wrapper {
    select {
      text-align: right;
    }

    label {
      text-align: right;
    }
  }

  #edit-field-type-de-formation-tid label {
    text-align: left;
    font-weight: normal;
    font-family: 'geomanistbold';
  }



  .view-content {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background: $lightgrey;
    padding: 2em 0 5rem;
  }
}


.formation-list {
  padding: 0 0 1em 0 !important;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: minmax(300px, auto);
  }

  .card-formation {
    list-style: none;
  }

  .card-formation .group-info.field-group-card:hover {
    cursor: pointer;
  }

  .formation {
    /* needed for the flex layout*/
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 200px;
  }

  /*** cards ***/
  .card {
    border-radius: 4px;
    background: #fff;
    position: relative;
    padding: 0;
    margin: 0;
    height: 360px;

    .group-info {
      position: relative;
      height: 330px;
      overflow: hidden;

      .field-name-body {
        transition: margin .3s ease;
        height: 195px;
        margin: -195px .5em .5em .5em;
        display: flex;
        align-items: center;
      }

      h2 {
        font-family: 'geomanistmedium';
        color: $darkblue;
        font-size: 1.4em;
        line-height: 1em;
        padding: .5em .5em .5em 3em;
        text-align: right;
        height: 3em;
        width: 100%;
        display: flex;
        align-items: center;

        a {
          display: block;
          text-align: right;
          width: 100%;
          color: $darkblue;


          &:hover {
            text-decoration: none;
          }
        }
      }

      .field-name-field-type-de-formation {
        font-family: 'geomanistbold';
        color: $mooc;
        margin: .5em;
        text-transform: uppercase;
        text-align: right;
      }

      .field-name-field-type-de-formation.moocs {
        color: $mooc;
      }

      .field-name-field-type-de-formation.parcours {
        color: $pink;
      }

      .field-name-field-type-de-formation.organisations {
        color: $yellow;
      }

      &:hover {
        .field-name-body {
          margin-top: 0;
        }
      }

    }

    .group-sticky {
      position: relative;
      height: 30px;
      .fieldset-wrapper {
        display: flex;
        height: 30px;
        > * {
          padding: 0.2rem 1rem;
          line-height: 1.5rem;
        }
      }
      .date {
        font-family: 'geomanistmedium';
        font-size: 13px;
        flex-grow: 1;
        background: $green;
        color: $white;
        border: none;
        display: inline-block;
        text-align: center;
        border-bottom-left-radius: 4px;
      }

      .reservation {
        font-family: 'geomanistmedium';
        font-size: 13px;
        background: $yellow;
        color: $white;
        border: none;
        display: inline-block;
        text-align: center;
        border-bottom-right-radius: 4px;
      }

      .date.en_cours {
        background: $yellow;
      }

      .reservation.en_cours {
        background: $darkyellow;

        &:hover {
          background: $yellow;
          text-decoration: none;
        }
      }

      .date.a_venir {
        background: $green;
      }

      .reservation.a_venir {
        background: $darkgreen;

        &:hover {
          background: $yellow;
          text-decoration: none;
        }
      }

      .date.termine {
        background: $taggrey;
      }

      .reservation.termine {
        background: $darkblue;

        &:hover {
          background: $yellow;
          text-decoration: none;
        }
      }
    }
  }
}

.pager-show-more {
  min-width: 220px;
  width: 33%;
  max-width: 320px;

  a {
    text-align: center;
    color: $white;
    background: $taggrey;
    border-radius: 4px;
    padding: 1em 0;
    font-family: 'geomanistbold';
    text-transform: uppercase;
    font-size: 13px;
    z-index: 1;
    display: block;
    line-height: 1em;
    height: 3em;

    &:hover {
      background: $yellow;
      text-decoration: none;
    }
  }
}

.view-bloc-actualites .item-list ul.pager-show-more {
  margin: auto;
}

/*** view actualites ***/
#block-views-bloc-actualites-block-actu,
.view-bloc-actualites {
  .block-title {
    font-family: 'geomanistmedium';
    text-transform: uppercase;
    font-size: 34px;
    color: $darkblue;
    width: 32%;
    display: inline-block;
    text-align: right;
    margin-right: 4em;
    margin-bottom: 1em;
    margin-top: 2em;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 42px;
      height: 2px;
      display: block;
      bottom: -8px;
      right: 1px;
      border-bottom: 4px solid #fbcd14;
    }
  }

  .view-content {
    margin: 0 2em;
  }

  .item-list ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0 0 1em 0;

      &::after {
        content: '';
        clear: both;
        display: block;
      }
    }

    h2 {
      text-transform: uppercase;
      font-family: 'geomanistbold';
      color: $darkblue;
      font-size: 1.5em;
      line-height: 1em;

      a {
        color: $darkblue;
      }
    }

    .field-type-image {
      float: left;

      img {
        width: 322px;
        margin-right: 2em;
        margin-bottom: 2em;
        border-radius: 4px;
      }
    }
  }

  .more-link {
    clear: both;

    a {
      @include read-more();
    }
  }

  .link-full-article {
    font-family: 'geomanistbold';
    text-transform: uppercase;
    float: right;
    color: $yellow;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .field-name-extra-publication-date {
    color: $darkblue;
    float: left;
    font-style: italic;
  }

}


/* messages drupal */
div.messages {
  background: none;
  border: none;
  font-size: 0.8em;
  margin: 0 0 2em 0;
  padding: 1em 2em;
  border-radius: .25em;

  &.error {
    background: $pink;
    color: $white;
  }

  &.status {
    background: $green;
    color: $white;

  }
}


/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */
@supports (display: grid) {
  .formation {
    margin: 0;
  }
}

/* formation pleine page */
.section-formation {
  .field-name-field-type-de-formation {
    text-transform: uppercase;
    font-family: 'geomanistmedium';
    font-size: 1.2em;
    margin-right: 0;
    float: right;

    .moocs {
      color: $mooc;
    }

    .parcours {
      color: $pink;
    }

    .organisations {
      color: $yellow;
    }
  }

  .date {
    text-transform: uppercase;
    font-family: 'geomanistmedium';
    font-size: 1.2em;
    float: right;
    margin-left: 7px;

    &.en_cours {
      color: $green;
    }

    &::after {
      content: '';
      clear: right;
      margin-bottom: 1em;
      display: block;
    }

  }

  .field-name-field-date-d-inscription {
    clear: right;
    margin-bottom: 1em;
    text-align: right;

    .field-label {
      font-weight: normal;
      display: block;
      width: 100%;
    }

    .field-items {
      font-weight: bold;
      float: none;
    }
  }

  .reservation,
  .reservation:visited,
  .btn-wiki,
  .btn-wiki:visited {
    clear: right;
    float: right;
    margin-bottom: 1em;
    text-align: right;
    font-weight: bold;
    width: auto;
    background: $yellow;
    color: $white;
    border-radius: .25em;
    padding: .5em 1em;

    &:hover {
      color: $darkblue;
      text-decoration: none;
    }

    .fa {
      margin-right: .2em;
    }
  }

  .btn-don,
  .btn-don:visited {
    clear: right;
    float: right;
    margin-bottom: 1em;
    text-align: right;
    font-weight: bold;
    width: auto;
    background: $pink;
    color: $white;
    border-radius: .25em;
    padding: .5em 1em;

    &:hover {
      color: $yellow;
      text-decoration: none;
    }

    .fa {
      margin-right: .2em;
    }
  }

  h1.page-name {
    display: none;
  }

  .heading {
    margin-bottom: 0;
    padding-bottom: 5em;
  }

  .field-name-field-th-matiques {
    text-transform: uppercase;
    color: $greytitle;
    font-family: 'geomanistmedium';
    font-size: 1.2em;
  }

  h2.title {
    font-family: 'geomanistbold';
    font-size: 2em;
    color: $darkblue;

    a {
      color: $darkblue;
    }
  }

  .field-name-field-image img {
    max-width: 100%;
    height: auto;
    border-radius: .5em;
    margin-bottom: 1em;
  }

}



// on cache le titre et les liens de navigation
.page-user {
  #main {
    padding: 3em 0;
  }

  .heading,
  #tab-links {
    display: none;
  }

  h1.page-name {
    width: 100%;
    display: inline-block;
    margin-right: 0;
    margin-top: 0;
    position: relative;
  }

}


#user-register-form,
#user-profile-form,
#user-login,
#user-pass {
  max-width: 19em;
  width: 100%;

  .password-confirm,
  .password-strength,
  fieldset legend,
  .form-type-select label,
  .description {
    display: none;
  }

  .password-suggestions {
    width: 100%;
    border: 1px solid $green;
  }

  .fieldset-wrapper {
    margin-top: 1em;
  }

  .form-type-password {
    width: 100%;
  }

  .form-item,
  .form-actions {
    margin: 0 0 1em 0;
  }

  input[type=text],
  input[type=password],
  select {
    max-width: 19em;
    width: 100%;
    display: block;
    background: $lightgrey;
    color: $darkblue;
    padding: .5em;
    border: none;
    margin: 0 0 .5em 0;
  }

  #edit-locale,
  #edit-learning360-id {
    display: none;
  }

  .addressfield-container-inline {

    .postal-code {
      width: 7em;
      margin-right: 1em;
    }

    .locality {
      width: 11em;
    }
  }

  .form-submit {
    width: 100%;
    margin: 0;
    padding: 1em;
    text-align: right;
    background: $yellow;
    color: $white;

    &:hover {
      color: $darkblue;
    }
  }

}

.box h5 {
  text-transform: uppercase;
  margin-top: 0;
  font-family: 'geomanistbold';
  margin-bottom: .3em;
}

.logo-360 {
  float: left;
  margin-right: 1em;
}

.txt-yellow {
  color: $yellow;
}

.txt-green {
  color: $green;
}

.fat-link,
.fat-link:visited {
  font-weight: bold;
  color: $darkblue;
}

.grid-fit {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.region-content-bottom {
  background: $lightgrey;
}

.content {
  position: relative;

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.group-one-third {
  position: sticky;
  width: 33%;
  margin-right: 4em;
  float: left;
  top: 2rem;
}

.group-two-third {
  width: calc(66% - 4em);
  float: left;
}

.contact-mail {
  width: 100% !important;
}

.node-webform .submitted {
  display: none;
}

#user-profile-form #edit-cancel {
    margin-top: 2em;
    background: red;
    padding: .2em 1em;
}
