
// ----------------------------------------------
//                  Colors
// ----------------------------------------------
$bodybg: #ffffff;
$darkblue: #5b6a6c;
$footerbg: #5a696b;
$darkerbg: #e7e6e6;
$greyborder: #bbb;
$greytitle: #98a0a1;
$black: #272c36;
$white: #fff;
$textcolor: #7e7e7e;
$grey: #6b6d72;
$lightgrey: #e9e9e9;
$taggrey: #acb4b5;
$blue: #6b7e9b;
$mooc: #66a1ca;
$parcours: #e33d8a;
$green: #b9cd00;
$darkgreen: #9dae00;
$base-green: #bdc900;
$bg-green: transparentize($base-green, .3);
$bg-boutique: #30a1c9;
$heading-green: #e7e34a;
$pink: #dc4764;
$heading-pink: #bf2f86;
$debug: #bef;
$yellow: #fbcd14;
$darkyellow: #d5ae11;


$error: #e00;
