@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu/ubuntu-r-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu/ubuntu-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'geomanistlight';
    src: url('../fonts/geomanist/geomanist-light-webfont.eot');
    src: url('../fonts/geomanist/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-light-webfont.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-light-webfont.woff') format('woff'),
         url('../fonts/geomanist/geomanist-light-webfont.ttf') format('truetype'),
         url('../fonts/geomanist/geomanist-light-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'geomanistbook';
  src: url('../fonts/geomanist/geomanist-book-webfont.eot');
  src: url('../fonts/geomanist/geomanist-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/geomanist/geomanist-book-webfont.woff2') format('woff2'),
  url('../fonts/geomanist/geomanist-book-webfont.woff') format('woff'),
  url('../fonts/geomanist/geomanist-book-webfont.ttf') format('truetype'),
  url('../fonts/geomanist/geomanist-book-webfont.svg#geomanistregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'geomanistmedium';
    src: url('../fonts/geomanist/geomanist-medium-webfont.eot');
    src: url('../fonts/geomanist/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-medium-webfont.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-medium-webfont.woff') format('woff'),
         url('../fonts/geomanist/geomanist-medium-webfont.ttf') format('truetype'),
         url('../fonts/geomanist/geomanist-medium-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'geomanistbold';
  src: url('../fonts/geomanist/geomanist-bold-webfont.eot');
  src: url('../fonts/geomanist/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/geomanist/geomanist-bold-webfont.woff2') format('woff2'),
  url('../fonts/geomanist/geomanist-bold-webfont.woff') format('woff'),
  url('../fonts/geomanist/geomanist-bold-webfont.ttf') format('truetype'),
  url('../fonts/geomanist/geomanist-bold-webfont.svg#geomanistregular') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'colibris';
  src: url('../fonts/colibris-regular.woff') format('woff'),
       url('../fonts/colibris-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
