// Default variables
$font_size: 1em !default;
$font_size_small: 12px !default;
$font_weight: 400;

$input_border_radius: 0 !default;
$input_height: 40px !default;
$input_height_small: 36px !default;
$dropdown_padding: 18px !default;

$gray_dark: $darkblue !default;
$gray: $grey !default;
$gray_light: $lightgrey !default;
$gray_lighter: $lightgrey;
$primary_light: $darkblue !default;
$arrow_color: $darkblue !default;


// Style the dropdown
.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: $bodybg;
  border-radius: $input_border_radius;
  box-sizing: border-box;
  clear: both;
  color: $darkblue;
  cursor: pointer;
  display: block;
  float: left;
  font-family: 'geomanist';
  font-size: $font_size;
  font-weight: $font_weight;
  height: $input_height;
  line-height: $input_height - 2;
  outline: none;
  padding-left: $dropdown_padding;
  padding-right: $dropdown_padding + 100;
  position: relative;
  text-align: left !important;
  -webkit-transition  
: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto;
  border-right: 1px solid $darkblue,;

  // Arrow
  &:after { 
    content: '\f106';
    display: block; 
    font-family: 'fontawesome';
    font-weight: bold;
    margin-top: -4px;
    font-size: 1.4em;
    pointer-events: none;
    position: absolute; 
    right: 12px; 
    top: 6px; 
    transform: rotate(180deg);
    transition: transform 0.15s ease-in-out;
  }
  
  &.open {
    &:after {
      transform: rotate(0deg);
    }
    .list {
      opacity: 1;
      pointer-events: auto;
      -webkit-transform: scale(1) translateY(0);
          -ms-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
    }
  }
  &.disabled {
    color: $gray;
    pointer-events: none;
    &:after { 
      border-color: lighten($arrow_color, 20%);
    }
  }
  
  // Modifiers
  &.wide {
    width: 100%;
    .list {
      left: 0 !important;
      right: 0 !important;
    }
  }
  &.right {
    float: right;
    .list {
      left: auto;
      right: 0;
    }
  }
  &.small {
    font-size: $font_size_small;
    height: $input_height_small;
    line-height: $input_height_small - 2;
    &:after { 
      height: 4px;
      width: 4px;
    }
    .option {
      line-height: $input_height_small - 2;
      min-height: $input_height_small - 2;
    }
  }
  
  // List and options
  .list {
    background-color: #fff;
    border-radius: $input_border_radius;
    box-shadow: 0 0 0 1px rgba($gray_dark, .11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%; left: 0;
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: scale(.75) translateY(- $input_height / 2);
        -ms-transform: scale(.75) translateY(- $input_height / 2);
            transform: scale(.75) translateY(- $input_height / 2);
    -webkit-transition  
: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
    transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
    z-index: 9;
    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
  }
  .option {
    cursor: pointer;
    line-height: $input_height - 2;
    list-style: none;
    min-height: $input_height - 2;
    outline: none;
    padding-left: $dropdown_padding;
    padding-right: $dropdown_padding + 11;
    text-align: left;
    -webkit-transition  
: all 0.2s;
    transition: all 0.2s;
    &:hover, &.focus, &.selected.focus { 
      background-color: $gray_lighter;
    }
    &.selected { 
      color: $yellow;
      background: $white;
    }
    &.disabled {
      background-color: transparent;
      color: $gray;
      cursor: default;
    }

    &:hover {
      background: $yellow;
      color: $darkblue;

    }
  }
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
  .list {
    display: none;
  }
  &.open {
    .list {
      display: block;
    }
  }
}